{% extends "base.html" %}
{% load static %}

{% block title %}
{{ post.title}}
{% endblock title %}

{% block content %}
<section  style="background-color: var(--bg-grey); margin-top: 5rem;"  class="w3l-mag-main">
    <br><br>
	<div  class="mag-content-inf py-5">
		<div class="container">
			<div class="blog-inner-grids py-md-4 row">	
                {% if post %}
				<div style="border-top: 3px solid var(--heading-color);" class="mag-content-left-hny col-lg-7">
                    {% if post.leadimg %}
                    <img src="{{post.leadimg.url}}" alt="" class="img-fluid radius-image py-3">
                    {% endif %}
                    <h5 style="font-size: larger;" class="top-title"><a href="#">{{post.title}}</a></h5>
                    <div class="sub-meta">
                        <span> <i class="far fa-clock"></i> {{ post.date_posted }} By {{ post.author }}</span>
                        <p>{{post.body | safe}}</p>	
                    </div>					   
                     {% endif %}
					 <div class="comment-top">
						<h4>Comments</h4>
						{% if comments %}
                        {% for item in comments %}
						<div class="media">
							<img src="images/t1.jpg" alt="" class="img-fluid" />
							<div class="media-body">
								<h5 class="mt-0">{{item.usercomment}}</h5>
								<div class="sub-meta">
									<span> <i class="far fa-clock"></i> {{ item.date_posted }}</span>

								</div>
								<p>{{item.body}}</p>
							</div>
						</div>
						{% endfor %}
						{% endif %}
					</div>
					<div class="comment-top">
						<ul style="display: inline-flexbox;">

							{% if request.user.is_authenticated %}
							
							{% else %}
							
							<li>
								<a class="mb-2" href="{% url 'login' %}">Login to comment</a>
							</li>
					
							{% endif %}
							
					
							<!-- anonoymous links -->
						</ul>
						<div class="comment-bottom">
							<form action="#" method="post">
								{% csrf_token %}
								<div >
									{{form.body}}
								</div>
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>
						</div>
					</div>
					<br>
			    </div>          
				<div style="border-top: 3px solid var(--heading-color);" class="mag-content-right-hny col-lg-4">
					<aside>
						<div  class="side-bar-hny-recent mb-5">
							<h4 class="mag-side-title " ><span> Trendy Post</span></h4>
							<div class="mag-small-post">
								<div class="post-item-grid row mb-4">
									{% if trending %}
									{% for item in trending %}
									<div class="mag-post-thumb col-4">
										<a href="{% url 'trendingnewsdetail' item.slug %}"><img src="{{item.leadimg.url}}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title"><a href="{% url 'trendingnewsdetail' item.slug %}">{{item.title}}</a> </h4>
										<a href="{% url 'trending' %}">
											<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Trending</span>
										</a>

										<div class="sub-meta">
											<span>
												<i class="far fa-clock"></i> {{ item.date_posted }}</span>
										</div>
									</div>
									{% endfor %}
								    {% endif %}
								</div>
								
								
							</div>
						</div>
						<div class="side-bar-hny-recent mb-5">
							<h4 class="mag-side-title " ><span>Top Story</span></h4>
							<div class="mag-small-post">
								{% if world %}
                                {% for item in world %}
								<div class="post-item-grid row mb-4">

									<div class="mag-post-thumb col-4">
										<a href="{% url 'worldnewsdetail' item.slug %}"><img src="{{item.leadimg.url}}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title"><a href="{% url 'worldnewsdetail' item.slug %}">{{item.title}}</a> </h4>
										<a href="{% url 'worldnews' %}">
											<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">World</span>
										</a>
										<div class="sub-meta">
											<span>
												<i class="far fa-clock"></i> {{ item.date_posted }}</span>
										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}
							   
								{% if africa %}
								{% for item in africa %}

								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="{% url 'africanewsdetail' item.slug %}"><img src="{{item.leadimg.url}}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="{% url 'africanewsdetail' item.slug %}">{{item.title}}</h4>
												<a href="{% url 'africanews' %}">
													<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Africa</span>
												</a>

												<div class="sub-meta">
													<span>
														<i class="far fa-clock"></i> {{ item.date_posted }}</span>
												</div>
									</div>
								</div>

								{% endfor %}
								{% endif %}
								{% if local %}
								{% for item in local %}
								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="{% url 'localnewsdetail' item.slug %}"><img src="{{item.leadimg.url}}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="{% url 'localnewsdetail' item.slug %}">{{item.title}}</a> </h4>
											<a href="{% url 'localnews' %}">
												<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Local</span>
											</a>
											<div class="sub-meta">
												<span>
													<i class="far fa-clock"></i> {{ item.date_posted }}</span>
											</div>
									</div>
								</div>


								{% endfor %}
								{% endif %}
								{% if sports %}
                               {% for item in sports %}
								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="{% url 'sportsnewsdetail' item.slug %}"><img src="{{item.leadimg.url}}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="{% url 'sportsnewsdetail' item.slug %}">{{item.title}}</a>
										</h4>
										<a href="{% url 'sportsnews' %}">
											<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Sports</span>
										</a>
										<div class="sub-meta">
											<span>
												<i class="far fa-clock"></i> {{ item.date_posted }}</span>
										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}
								{% if enternews %}
								{% for item in enternews %}
								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="{% url 'entertainmentdetail' item.slug %}"><img src="{{item.leadimg.url}}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="{% url 'entertainmentdetail' item.slug %}">{{item.title}}</a>
										</h4>
										<a href="{% url 'entertainment' %}">
											<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Entertainment</span>
										</a>
										<div class="sub-meta">
											<span>
												<i class="far fa-clock"></i> {{ item.date_posted }}</span>
										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}
							</div>
						</div>
						<div class="side-bar-hny-recent mb-5">
							<h4 class="mag-side-title"><span>Don't Miss</span></h4>
							<div class="mag-small-post dont-miss-grids-inf">
								<div class="maghny-gd-1">
									{% if headline %}
							        {% for item in headline %}
									<div class="maghny-grid mb-3 dont-miss">
										<a href="{% url 'headlinenewsdetail' item.slug %}"><img class="img-fluid" src="{{item.leadimg.url}}" alt=""></a>
									</div>
									<a href="{% url 'headline' %}">
										<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Headline</span>
									</a>
									<h5><a href="{% url 'headlinenewsdetail' item.slug %}">{{item.title}}</a></h5>
									<!-- <p>{{ item.body | truncatechars:90 | safe }}</p> -->
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{ item.date_posted }}</span>
									</div>
									{% endfor %}
									{% endif %}
								</div>
								<div class="maghny-gd-1 my-lg-5">
									{% if health %}
							        {% for item in health %}
									<div class="maghny-grid mb-3 dont-miss">
										<a href="{% url 'healthnewsdetail' item.slug %}"><img class="img-fluid" src="{{item.leadimg.url}}" alt=""></a>
									</div>
									<a href="{% url 'health' %}">
										<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Health</span>
									</a>
									<h5><a href="{% url 'healthnewsdetail' item.slug %}">{{item.title}}</a></h5>
									<!-- <p>{{ item.body | truncatechars:90 | safe }}</p> -->
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{ item.date_posted }}</span>
									</div>
									{% endfor %}
									{% endif %}
								</div>
								<div class="maghny-gd-1 my-lg-5">
									{% if politics %}
							        {% for item in politics %}
									<div class="maghny-grid mb-3 dont-miss">
										<a href="{% url 'trendingnewsdetail' item.slug %}"><img class="img-fluid" src="{{item.leadimg.url}}" alt=""></a>
									</div>
									<a href="{% url 'politics' %}">
										<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Politics</span>
									</a>
									<h5><a href="{% url 'trendingnewsdetail' item.slug %}">{{item.title}}</a></h5>
									<!-- <p>{{ item.body | truncatechars:90 | safe }}</p> -->
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{ item.date_posted }}</span>
									</div>
									{% endfor %}
									{% endif %}
								</div>
								<div class="maghny-gd-1">
									{% if business %}
							        {% for item in business %}
									<div class="maghny-grid mb-3 dont-miss">
										<a href="{% url 'businessnewsdetail' item.slug %}"><img class="img-fluid" src="{{item.leadimg.url}}" alt=""></a>
									</div>
									<a href="{% url 'business' %}">
										<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2"> Business</span>
									</a>
									<h5><a href="{% url 'businessnewsdetail' item.slug %}">{{item.title}}</a></h5>
									<!-- <p>{{ item.body | truncatechars:90 | safe }}</p> -->
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{ item.date_posted }}</span>
									</div>
									{% endfor %}
									{% endif %}
								</div>
								<div class="maghny-gd-1">
									{% if bigstory %}
							        {% for item in bigstory %}
									<div class="maghny-grid mb-3 dont-miss">
										<a href="{% url 'bigstorynewsdetail' item.slug %}"><img class="img-fluid" src="{{item.leadimg.url}}" alt=""></a>
									</div>
									<a href="{% url 'bigstory' %}">
										<span style="color: rgb(80, 45, 209); font-size: 15px;" class="label-style label-style-2">Big Story</span>
									</a>
									<h5><a href="{% url 'bigstorynewsdetail' item.slug %}">{{item.title}}</a></h5>
									<!-- <p>{{ item.body | truncatechars:90 | safe }}</p> -->
									<div class="sub-meta">
										<span>
											<i class="far fa-clock"></i> {{ item.date_posted }}</span>
									</div>
									{% endfor %}
									{% endif %}
								</div>

							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}




<h5 class="mt-0">{{ item.usercomment }}</h5>
<div class="sub-meta">
	<span> <i class="far fa-clock"></i> {{ item.date_posted }}</span>
</div>
<p>{{item.body}}</p>